* {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	background-image: url(Resource/imagens/code-minimalism-microsoft-windows-command-lines-wallpaper.jpg);
	background-size: cover;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

#navLeft {
	margin-left: 1%;
	color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, transparent -200%, black 100%);
    width: 100%;
    height: 75px;
    padding: 0 200px;
}

#logo {
    display: flex;
    width: 6%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#logoLink {
    width: 100%;
    display: flex;
    justify-content: center;
}

#logoImg {
    width: 100%;
    height: auto;
}

#profile {
    overflow: hidden;
    border-radius: 100px;
    width: 5vh;
    height: 5vh;
    margin-right: 1%;
    margin-left: 1vh;
}

h1 {
    text-align: center;
    color: black;
    font-size: xx-large;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
    z-index: 0;
	max-width: 100%;
}

.bRed {
    display: flex;
    border: solid #515151 2px;
    border-radius: 100px;
    width: 179px;
    height: 45px;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 16px 0px #353535;
	transition: 0.7s;
    font-family: "Bebas Neue", sans-serif;
}

#inicio {
    flex: 1;
    margin: 0px auto;
    max-width: 70%;
    height: 200px;
    text-align: center;
    background-color: rgb(76, 81, 85);
    padding: 30px;
}

#objetivos {
    flex: 1;
    margin: 0px auto;
    max-width: 70%;
    text-align: center;
    background-color: AliceBlue;
    padding: 30px;
}

#artigos {
    flex: 1;
    margin: 0px auto;
    max-width: 70%;
    text-align: center;
    background-color: AliceBlue;
    padding: 30px;
}

#sobre {
    flex: 1;
    margin: 0px auto;
    max-width: 70%;
    text-align: center;
    background-color: AliceBlue;
    padding: 30px;
}
